.wrapper{
    text-align: center;
    max-width: 80vw;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    color: blueviolet;
    font-size: 4rem;
   
}
.category{
    color: rgb(227, 109, 109);
    font-size: 2.5rem;
    background-color: rgb(98, 202, 228);
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: .5rem .5rem .5rem .25rem rgba(17, 111, 135, 0.75);
}
.button{
    padding: 1rem;
    width: 20rem;
    background-color: rgb(255, 0, 0);
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 1.5rem;
    cursor: pointer;
    
}
.button:hover{
    background-color: rgb(183, 3, 3);
    box-shadow: .5rem .5rem .5rem .25rem rgba(17, 111, 135, 0.75);
}
.button:active{
    background-color: rgb(148, 4, 4);
    transform: scale(.98);
}
