.wrapper{
    text-align: center;
    max-width: 80vw;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    color: blueviolet;
    font-size: 4rem;
   
}
.category{
    color: rgb(205, 92, 44);
    font-size: 1.8rem;
}
.button{
    padding: 1rem;
    width: 20rem;
    background-color: red;
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 1.5rem;
    cursor: pointer;
    
}